name: Build and Push Backend Image to Artifact Registry

on:
  push:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: Umeshpoojariaws/shared-workflows/.github/workflows/reusable-build-push.yml@main
    with:
      image-name: backend
      artifact-registry-repo: ${{ vars.ARTIFACT_REGISTRY_REPO }}
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}